#!/bin/sh

#bcpyrght
#***************************************************************************
#* $VRTScprght: Copyright 2023 Veritas, All Rights Reserved $ *
#*************************************************************

# Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

#############################################
# SAP Hana Instance - Update this section
#############################################

HANA_VIP="{{nbu_client_vip}}"
HANA_SID="{{nbu_client_sid}}"
HANA_INS="{{nbu_client_ins}}"
HANA_HDB="{{nbu_client_hdb}}"
HANA_BSL="{{nbu_client_bsl_ten}}"
SAP_USR="{{sap_user}}"
BACKINTCMD="backup data for ${HANA_BSL} using backint"
SCHED_YEARLY="rt_sap_db_yearly"
SCHED_MONTHLY="rt_sap_db_monthly"
SCHED_WEEKLY="rt_sap_db_weekly"
DATA_UTL="{{utl_script_file_path}}/{{sap_nbu_instance}}/{{nbu_client_bsl_ten}}/initSAP_${HANA_BSL}-data.utl"
YEARLY_UTL="{{utl_script_file_path}}/{{sap_nbu_instance}}/{{nbu_client_bsl_ten}}/initSAP_${HANA_BSL}-ten-data-yearly.utl"
MONTHLY_UTL="{{utl_script_file_path}}/{{sap_nbu_instance}}/{{nbu_client_bsl_ten}}/initSAP_${HANA_BSL}-ten-data-monthly.utl"
WEEKLY_UTL="{{utl_script_file_path}}/{{sap_nbu_instance}}/{{nbu_client_bsl_ten}}/initSAP_${HANA_BSL}-ten-data-weekly.utl"
DAILY_UTL="{{utl_script_file_path}}/{{sap_nbu_instance}}/{{nbu_client_bsl_ten}}/initSAP_${HANA_BSL}-ten-data-daily.utl"

#############################################
# Main
#############################################

HANA_PORT="3${HANA_INS}13"
HANA_NODE="${HANA_VIP}:${HANA_PORT}"
RETURN_STATUS=0

# Check the NEtBackup Client name is same as SAP HANA Master Name
CLIENT_NAME="`cat /usr/openv/netbackup/bp.conf | grep "CLIENT_NAME" | cut -f 3 -d ' '`"
if [ "$CLIENT_NAME" != "$HANA_VIP" ] ; then
        echo "Client Name is not matched, hence coping the schedule"
        # Check which NetBackup schedule is being used
        # Copy the appropriate .utl file to the location detailed in global.ini
        # This ensures the correct schedule and retentions are used

        if [ "$SAP_SNC_SCHED" = "$SCHED_YEARLY" ]; then
                cp $YEARLY_UTL $DATA_UTL

        elif [ "$SAP_SNC_SCHED" = "$SCHED_MONTHLY" ]; then
                cp $MONTHLY_UTL $DATA_UTL

        elif [ "$SAP_SNC_SCHED" = "$SCHED_WEEKLY" ]; then
                cp $WEEKLY_UTL $DATA_UTL

        else
                cp $DAILY_UTL $DATA_UTL
	fi

        exit 0
fi

# Get the SAP HANA master server

SAP_SERVER="`su - $SAP_USR -c "/usr/sap/${HANA_SID}/SYS/exe/hdb/hdbsql -i ${HANA_INS} -n ${HANA_NODE} -U ${HANA_HDB} -j -a -x \\\"select HOST from M_SERVICES WHERE
COORDINATOR_TYPE='MASTER' LIMIT 1\\\"\"`"
if [ "$SAP_SERVER" == "" ] ; then
        echo "SAP HANA master node was not detected"
fi

# Remove quotes from SAP_SERVER (HANA master) name string
# Convert the SAP HANA master name to small letters

SAP_SERVER="`echo "$SAP_SERVER" | sed s'/\"//g'`"
SAP_SERVER=`echo $SAP_SERVER | tr "[A-Z]" "[a-z]"`

# Testing only - Check SAP HANA master server name vs local VIP name

echo "$SAP_SERVER / $HANA_VIP"

# Check if SAP HANA master matches the local VIP name
# If they match, then trigger backup from SAP HANA master node
# If they dont match, exit as the backup will be trigger from master node

if [ "$SAP_SERVER" == "$HANA_VIP" ] ; then

        echo "SAP HANA master node"
        echo "-> Initiate backup from this node"

        # Check which NetBackup schedule is being used
        # Copy the appropriate .utl file to the location detailed in global.ini
        # This ensures the correct schedule and retentions are used
        if [ "$SAP_SNC_SCHED" = "$SCHED_YEARLY" ]; then
                cp $YEARLY_UTL $DATA_UTL

        elif [ "$SAP_SNC_SCHED" = "$SCHED_MONTHLY" ]; then
                cp $MONTHLY_UTL $DATA_UTL

        elif [ "$SAP_SNC_SCHED" = "$SCHED_WEEKLY" ]; then
                cp $WEEKLY_UTL $DATA_UTL

        else
                cp $DAILY_UTL $DATA_UTL

        fi

        # Build the BACKUP PREFIX
        # Current current DATE/TIME
        # Append DATE,TIME,HANA_BSL to suffix

        DATE_TIME="`date \"+%Y%m%d_%H_%M_%S\"`"
        BACKUP_PREFIX="COMPLETE_DATA_BACKUP_${HANA_SID}_${HANA_BSL}"
        BACKUP_PREFIX="$BACKUP_PREFIX"_"$DATE_TIME"
        echo "-> HANA_BACKUP_PREFIX = $BACKUP_PREFIX"

        # Initiate BACKINT backup

        su - $SAP_USR -c "/usr/sap/${HANA_SID}/SYS/exe/hdb/hdbsql -i ${HANA_INS} -n ${HANA_NODE} -U ${HANA_HDB} \"${BACKINTCMD} ('$BACKUP_PREFIX')\""
        RETURN_STATUS=$?
        exit $RETURN_STATUS

else

# Worker node - Exit the bphdb process with Status 0

        echo "SAP HANA worker node"
        echo "-> Initiating backup from master node"
        echo "-> Worker Node will exit with sucess status"
        exit 0
fi
